/* Font styling for the webpage */text
body {
    font-family: 'Roboto', sans-serif;
    color: #4f4f4f;
}

li,
a,
button {
    font-weight: 300;
    color: rgb(239, 245, 243);
    font-size: medium;
    text-decoration: none;
}

#report_headline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-right: 35%;
}

.btn-primary {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #3b71ca;
    border-color:#3b71ca;
}
.btn-primary:hover {
    border-color:#2f5aa2;
}
.btn-secondary {
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #285192;
    background-color: #e3ebf7;
    border: none;
    padding: 6px 16px;
}
.btn-secondary.show:hover, .btn-secondary:active:hover, .btn-secondary:hover {
    color: #285192;
    background-color: #ccd4de;
}
.btn-secondary.show, .btn-secondary.show:focus {
    box-shadow: 0 8px 9px -4px rgba(227,235,247,.3), 0 4px 18px 0 rgba(227,235,247,.2)
}
.btn:first-child:active, .btn-secondary:focus {
    color: #285192;
    background-color: #d8dfeb;
}

/* Common styling - used in reports_ahu_details.php */
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

/* Common style for heading divs - index.php, archivedreports.php */
#heading_div {
    width: 100%;
    height: 50px;
    background: white;
    text-align: center;
}


/* #myReportsTable{
    margin-top: -40px;
} */

/* Styling for index.php */
#index_table_div {
    padding-top: 0px;
}
#index_table_div table th {
    font-size: 0.8rem;
    background-color: lightsteelblue;
    border-bottom: none;
    color: #4f4f4f;
}

#index_table_div table tbody {
    font-size: 0.7rem;
    vertical-align: middle;
    border: 1px solid #e1dddd;
    color: #4f4f4f;
}

/* To avoid overlapping table contents with the title */
/* #index_table_div [class^='dataTables_wrapper'] {
    position: unset;
} */

/* Styling for index.php - Dropdown inside table cell */
ul.dropdown-menu {
    min-width: 5rem;
    padding-left: 1rem;
}
#index_table_div a {
    color: #3b71ca;
}
#index_table_div a.btn {
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

/* Styling for archivedreports.php */
#archivedReportsTable thead {
    font-size: 0.8rem;
}

#archivedReportsTable tbody {
    font-size: 0.7rem;
}

#archivedReportsTable .btn-sm {
    font-size: 0.6rem;
    background-color: #d8dfeb;
}
#archivedReportsTable a.btn {
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
}
#archivedReportsTable th {
    font-size: 0.8rem;
    background-color: rgb(202, 116, 18);
    border-bottom: none;
    color: #4f4f4f;
}
#archivedReportsTable tbody {
    font-size: 0.7rem;
    vertical-align: middle;
    border: 1px solid #e1dddd;
    color: #4f4f4f;
}

/* #ar_header_div #progressBar {
    position: absolute;
    border-radius: 6px;
    width: 100%;
    height: 10%;
    background: linear-gradient(to left, #f50800, #f0ec0c);
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
} */

/* Styling for reports_ahu_details.php */
.form-group {
    margin-bottom: 1rem;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

#ahu_details_form {
    font-size: 0.7rem;
}

#container_add_ahu_details {
    padding-top: 40px;
}

.bootstrap-select>[class *='dropdown-toggle'] {
    width: 90%;
    font-size: 0.7rem;
}

#main,
#main table,
#main input,
#main select {
    font-size: 0.7rem;
}

#ahu_details_form select.form-select {
    width: auto;
}

.dropdown-menu {
    font-size: 0.7rem;
}

/* Styling for rep_datasheet */
#datasheet_info label,
#datasheet_info input {
    font-size: 0.8rem;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}
  
#ahu_list  td,
#ahu_list th {
    border: 1px solid #ddd;
  }
  
#ahu_list th {
    background-color: #f1f1f1;
  }

.table[id $='_table'] >.thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.table[id $='_table'].table-responsive {
    display: block;
    width: 100%;
}

/* .toggle-nav {
	display:none;
} */
.toggle-nav{
    display: none;
  }
  
